<ion-header>
  <ion-toolbar class="custom-toolbar-global">
    <ion-buttons slot="start" (click)="irAPantalla('/demo')">
      <ion-icon class="custom-icon-global" slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center custom-title-global">Test</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding test-content">

  <div class="question-container">
    <h2>¿Cómo se representa el número 7 en lengua de señas?</h2>

    <ion-list>
      <ion-radio-group [(ngModel)]="selectedOption">
        <ion-item>
          <ion-label>Extendiendo todos los dedos de la mano</ion-label>
          <ion-radio slot="start" value="A"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Haciendo un círculo con el dedo índice y el pulgar</ion-label>
          <ion-radio slot="start" value="B"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Tocando el dedo índice con el pulgar</ion-label>
          <ion-radio slot="start" value="C"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Haciendo una V con la mano derecha y msotrando la palma de la mano
            izquierda al mismo tiempo
          </ion-label>
          <ion-radio slot="start" value="D"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>
  <div class="ion-margin-top">
    <div class="button-container">
      <ion-button expand="block" color="primary" (click)="submitAnswer()">Responder</ion-button>
    </div>
  </div>
  
</ion-content>
