<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar-global">
    <ion-buttons slot="start" (click)="cerrarModal()">
      <ion-icon class="custom-icon-global" slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-buttons>  
    <ion-title class="ion-text-center custom-title-global">Nueva Publicación</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-label>Tu usuarios es: <strong>{{ nombreUsuario }}</strong></ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Título</ion-label>
    <ion-input [(ngModel)]="publicacion.titulo" placeholder="Escribe el título"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Contenido</ion-label>
    <ion-textarea [(ngModel)]="publicacion.contenido" placeholder="Escribe el contenido"></ion-textarea>
  </ion-item>
  <ion-button expand="block" color="primary" (click)="publicar()">Publicar</ion-button>
</ion-content>

