<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar-comunidad">
    <ion-buttons slot="start" routerLink="/lesson">
      <ion-icon class="custom-icon-comunidad" slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-buttons>  
    <ion-title class="ion-text-center custom-title-comunidad">Nueva Publicación</ion-title>
  </ion-toolbar> 
</ion-header>


<ion-content>
  <!-- Tarjeta de usuario centrado -->
  <ion-card class="user-card">
    <ion-card-header class="user-header">
      Usuario: <strong>{{  nombreUsuario }}</strong>
    </ion-card-header>
  </ion-card>

  <!-- Campo para el título -->
  <ion-item class="custom-item" lines="none">
    <ion-label position="stacked" class="custom-label">Título</ion-label>
    <ion-input
      [(ngModel)]="publicacion.titulo"
      placeholder=" Escribe el título"
      class="custom-input"
    ></ion-input>
  </ion-item>

  <!-- Campo para el contenido -->
  <ion-item class="custom-item" lines="none">
    <ion-label position="stacked" class="custom-label">Contenido</ion-label>
    <ion-textarea
      [(ngModel)]="publicacion.contenido"
      placeholder="Escribe el contenido"
      class="custom-textarea"
    ></ion-textarea>
  </ion-item>

  <!-- Botón de publicación -->
  <div class="button-container">
    <ion-button expand="block" (click)="publicar()" class="publish-button">
      Publicar
    </ion-button>
  </div>
</ion-content>
