<ion-header>
  <ion-toolbar class="custom-toolbar-global">
    <ion-buttons slot="start" (click)="irAPantalla('/demo')">
      <ion-icon class="custom-icon-global" slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center custom-title-global">Test</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding test-content">

  <div class="question-container">
    <h2>¿Cuál es la seña que corresponde al verbo "tener"?</h2>

    <ion-list>
      <ion-radio-group [(ngModel)]="selectedOption">
        <ion-item>
          <ion-label>Llevar las manos al pecho con los dedos extendidos</ion-label>
          <ion-radio slot="start" value="A"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Formar un puño y llevarlo hacia el pecho</ion-label>
          <ion-radio slot="start" value="B"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Mover las manos hacia adelante en un gesto de ofrecimiento</ion-label>
          <ion-radio slot="start" value="C"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Colocar ambas manos sobre la cabeza</ion-label>
          <ion-radio slot="start" value="D"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>
  <div class="ion-margin-top">
    <div class="button-container">
      <ion-button expand="block" color="primary" (click)="submitAnswer()">Responder</ion-button>
    </div>
  </div>
  
</ion-content>
