<ion-content class="background-color">
  <div class="d-flex-center">
    <form [formGroup]="form" (ngSubmit)="submit()" class="auth-form" (keypress.enter)="submit()">

      <img src="assets/img/logo11.png" alt="EasySign Logo" class="logo"/>

        <h1 class="custom-title">EASYSIG</h1>

      <app-login-input
      autocomplete="email"
      type="email"
      [control]="form.controls.email"
      label="Correo electrónico"
      
      icon="mail-outline"
      ></app-login-input>

      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <div *ngIf="form.controls.email.errors?.['required']"> El correo es requerido </div>
        <div *ngIf="form.controls.email.errors?.['email']"> Ingrese un correo valido </div>

      </div>

      <app-login-input
      type="password"
      label="Contraseña"
      icon="lock-closed-outline"
      [control]="form.controls.password"
      ></app-login-input>

      <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">
        <div *ngIf="form.controls.password.errors?.['required']"> La contraseña es requerida </div>
      </div>

      <p routerLink="forgot-password" style="color: rgb(38, 0, 255);">¿Olvidaste la contraseña?</p>

      <ion-button color="primary" class="submit custom-title" type="submit" expand="block" mode="ios" fill="solid" [disabled]="form.invalid">
        Ingresar
      </ion-button> 

      <ion-button routerLink="sign-up" color="success" 
       class="ion-margin-top custom-title" expand="block" mode="ios" fill="solid">
        Registrate
      </ion-button>
      
    </form>
  </div>
</ion-content>