<ion-header>
  <ion-toolbar class="custom-toolbar-global">
    <ion-buttons slot="start" (click)="irAPantalla('/lesson1')">
      <ion-icon class="custom-icon-global" slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center custom-title-global">Quiz de Preguntas I</ion-title>
  </ion-toolbar>
</ion-header> 
 
<ion-content class="ion-padding text-test-content">
  <div class="question-container">
    <h2>{{ questions[currentQuestionIndex]?.question }}</h2>
    <ion-list>
      <ion-radio-group [(ngModel)]="selectedOption">
        <ion-item *ngFor="let option of questions[currentQuestionIndex]?.options">
          <ion-label>{{ option }}</ion-label>
          <ion-radio slot="start" [value]="option"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>

  <div class="button-container">
    <ion-button expand="block" (click)="submitAnswer()">Responder</ion-button>
  </div>
</ion-content>
