<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="arrow-back-outline" (click)="closeModal()"></ion-icon>
    </ion-buttons>
    <ion-title> {{ title }}</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <div class="video-container">
    <video controls autoplay [src]="videoUrl" style="width: 100%; height: auto;"></video>
  </div>
  <div class="description-container ion-text-center" style="color: white; font-weight: bold;">
    <p>{{ videoDescription }}</p>
  </div>
</ion-content>
