<ion-header>
  <ion-toolbar class="custom-toolbar-global">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" class="custom-icon" ><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center custom-title-global"> {{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="video-container">
    <video controls autoplay [src]="videoUrl" style="width: 100%; height: auto;"></video>
  </div>
  <div class="description-container">
    <p>{{ videoDescription }}</p>
  </div>
</ion-content> 
