.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 50%;
    padding: 5px;
    margin-top: 20px;
    border-radius: 15px;
  }
  
  .description-container { 
    padding: 16px;
    font-size: 16px;
    color: #030303;
    text-align: justify;
  }