<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>lesson</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">lesson</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->
<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">EasySign</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="features-container">
  <ion-card>
    <ion-card-header  routerLink="">
      <ion-card-title>Inicio</ion-card-title>
    </ion-card-header>
    <!-- <ion-card-content>
      Aprende desde lo básico hasta lo avanzado, paso a paso.
    </ion-card-content> -->
  </ion-card>

  <ion-card>
    <ion-card-header  routerLink="/lesson1">
      <ion-card-title>Leccion 1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Aprende desde lo básico hasta lo avanzado, paso a paso.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header  routerLink="/lesson2">
      <ion-icon aria-hidden="true" name="home" slot="start"></ion-icon>
      <ion-card-title>Leccion 2</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Aprende como saludar y mas
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header  routerLink="/lesson3">
      <ion-icon aria-hidden="true" name="home" slot="start"></ion-icon>
      <ion-card-title>Leccion 3</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Aprende a tener cortas conversaciones.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header  routerLink="/test">
      <ion-icon aria-hidden="true" name="home" slot="end"></ion-icon>
      <ion-card-title>Prueba</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Prueba tus conocimientos
    </ion-card-content>
  </ion-card>
</div>
  <!-- <ion-list>
    <ion-item routerLink="">
      <ion-icon aria-hidden="true" name="home" slot="start"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-item>
    <ion-item routerLink="/lesson1">
      <ion-icon aria-hidden="true" name="list-outline" slot="start"></ion-icon>
      <ion-label>Lección 1</ion-label>
    </ion-item>
    <ion-item routerLink="/lesson2">
      <ion-icon aria-hidden="true" name="list-outline" slot="start"></ion-icon>
      <ion-label>Lección 2</ion-label>
    </ion-item>
    <ion-item routerLink="/lesson3">
      <ion-icon aria-hidden="true" name="list-outline" slot="start"></ion-icon>
      <ion-label>Lección 3</ion-label>
    </ion-item>
    <ion-item routerLink="/test">
      <ion-icon aria-hidden="true" name="list-outline" slot="start"></ion-icon>
      <ion-label>Test</ion-label>
    </ion-item>
  </ion-list> -->
</ion-content>
