<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar-global">
    <ion-buttons slot="start" routerLink="/lesson">
    </ion-buttons>  
    <ion-title class="ion-text-center custom-title-global">Explorador De Lecciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="features-container">
  <ion-card>
    <ion-card-header  routerLink="/home">
      <ion-card-title>
        <ion-icon name="home" class="custom-icon"></ion-icon>
         Inicio
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header  routerLink="/lesson1">
      <ion-card-title>Leccion 1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Aprende desde lo básico, como las palabras mas comunes, los colores, dias de la semana, meses del año y mas.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header  routerLink="/lesson2">
      <ion-icon aria-hidden="true" name="home" slot="start"></ion-icon>
      <ion-card-title>Leccion 2</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Aqui aprenderas los verbos mas utilizados en el dia a dia, asi como tambien preguntas y respuestas.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header  routerLink="/lesson3">
      <ion-icon aria-hidden="true" name="home" slot="start"></ion-icon>
      <ion-card-title>Leccion 3</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Aprende los numeros, ya veras que facil son!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header  routerLink="/lesson4">
      <ion-icon aria-hidden="true" name="home" slot="start"></ion-icon>
      <ion-card-title>Leccion 4</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Aprende a contar con los números básicos.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header  routerLink="/home-quiz">
      <ion-icon aria-hidden="true" name="home" slot="end"></ion-icon>
      <ion-card-title>Quizzes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Prueba tus conocimientos
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
