<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar-global">
    <ion-buttons slot="start" routerLink="/social">
      <ion-icon class="custom-icon-global" slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-buttons> 
    <ion-title class="ion-text-center custom-title-global">EASYSIG PUBLICAR😎</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="submitPost()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nombre de Usuario</ion-label>
        <ion-input [(ngModel)]="username" name="username" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Título</ion-label>
        <ion-input [(ngModel)]="title" name="title" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contenido</ion-label>
        <ion-textarea [(ngModel)]="content" name="content"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Imagen</ion-label>
        <ion-input type="url" [(ngModel)]="imageUrl" name="imageUrl"></ion-input>
      </ion-item>
    </ion-list>

    <ion-buttons class="button-container">
      <ion-button class="custom-button" expand="block" routerLink="/social">
        <ion-icon class="custom-icon" name="cloud-upload-outline"></ion-icon>
        <span class="custom-label">PUBLICAR CONTENIDO</span>
      </ion-button>
    </ion-buttons>
  
  </form>
</ion-content>
