/* Estilo para el botón de comentar */
.comment-button {
    --background: #ffffff; /* Fondo blanco */
    --color: #000000; /* Texto negro */
    border: 2px solid #007bff; /* Bordes azules */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño del texto */
    text-transform: capitalize; /* Texto en minúsculas con mayúscula inicial */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  
    ion-icon {
      font-size: 20px; /* Tamaño del ícono */
      margin-right: 8px; /* Espacio entre el ícono y el texto */
    }
  }
  
  /* Ajuste de las tarjetas de las publicaciones */
  ion-card {
    width: 100%; /* Ajustar al ancho de la pantalla */
    margin: 10px auto; /* Espaciado entre las tarjetas */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra */
  }
  
  /* Clase para el tamaño del texto */
  .text-size {
    font-size: 16px; /* Ajustar tamaño del texto */
    line-height: 1.5; /* Espaciado entre líneas */
  }
  /* Estilo para destacar el nombre de usuario */
.username {
    font-size: 18px;
    //font-weight: bold; 
    color: #1a1919; 
    margin-bottom: 5px;
    display: block; /* Asegura que esté en una línea separada */
  }
  
  ion-button {
    --background: transparent;
    --color: #007bff;
    --padding-start: 10px;
    font-size: 14px;
  
    ion-icon {
      font-size: 18px;
      margin-right: 5px;
    }
  
    &:hover {
      --color: #007bff;
    }
  }

  .custom-segment {
    --background: #f3f4f6; /* Fondo general del segmento */
    --indicator-color: #007bff; /* Color del indicador */
    --indicator-height: 3px; /* Altura del indicador */
    --button-color: #6b7280; /* Color del texto en estado normal */
    --button-color-checked: #ffffff; /* Color del texto en estado seleccionado */
    --button-background: #ffffff; /* Fondo de los botones sin seleccionar */
    --button-background-checked: #007bff; /* Fondo del botón seleccionado */
    --border-radius: 20px; /* Bordes redondeados */
    padding: 5px; /* Reduce el espacio alrededor del segmento */
    margin: 10px 0; /* Espaciado superior e inferior */
  
    ion-segment-button {
      height: 36px; /* Ajusta la altura del botón */
      font-size: 14px; /* Tamaño de texto reducido */
      padding: 0 8px; /* Espaciado interno más pequeño */
      border-radius: 8px; /* Bordes redondeados del botón */
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
      transition: background-color 0.3s ease, color 0.3s ease;
  
      ion-label {
        font-weight: 500; /* Peso del texto */
      }
    }
  }
  

  
/* Contenedor del filtro */
.filtro-etiqueta-container {
  margin: 16px 0;
  background-color: #000000;
  border-radius: 15px;
  padding: 1px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Etiqueta del filtro */
.filtro-etiqueta-label {
  font-size: 16px;
  font-weight: bold;
  color: #343434;
  margin-bottom: 5px;
}

/* Selector de etiquetas */
.filtro-etiqueta-select {
  font-size: 14px;
  color: #343434;
  --padding-start: 10px;
  --padding-end: 10px;
  --placeholder-color: #007bff;
}

/* Estilo de las opciones */
ion-select-option {
  font-size: 14px;
  color: #343434;
  padding: 10px;
  background-color: #007bff;
  border-bottom: 1px solid #007bff;
}

/* Sombra al abrir el selector */
ion-select::part(icon) {
  color: #007bff;
  font-size: 18px;
}

  

.custom-toolbar-global {
  --background: #007aff; /* Color de fondo */
  --color: #333; /* Color del texto */
}

.custom-title-global {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.custom-icon-global {
  font-size: 24px;
  color: #ffffff; /* Azul estilo iOS */
}
