<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar-global">
    <ion-buttons slot="start" routerLink="/lesson">
      <ion-icon class="custom-icon-global" slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-buttons>  
    <ion-title class="ion-text-center custom-title-global">Comunidad</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="abrirModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let publicacion of publicaciones">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ publicacion.titulo }}</ion-card-title>
          <ion-card-subtitle>{{ publicacion.nombreUsuario }} - {{ publicacion.fecha.toDate() | date: 'short' }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{ publicacion.contenido }}
        </ion-card-content>
        <!-- Botón para abrir el modal de comentarios -->
        <ion-button expand="block" color="primary" (click)="abrirComentarios(publicacion)">Comentar</ion-button>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>




