
<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">EasySign</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="features-container">
    <ion-card>
      <ion-card-header (click)="irAPantalla('/home')">
        <ion-card-title>Inicio</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Accede a la lista de todas las lecciones y tests
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header (click)="irAPantalla('/quiz1')">
        <ion-card-title>Quiz 1</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Comprueba tus conocimientos de la leccion 1
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header (click)="irAPantalla('/quiz2')">
        <ion-icon aria-hidden="true" name="home" slot="start"></ion-icon>
        <ion-card-title>Quiz 2</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Comprueba tus conocimientos de la leccion 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header (click)="irAPantalla('/quiz3')">
        <ion-icon aria-hidden="true" name="home" slot="start"></ion-icon>
        <ion-card-title>Quiz 3</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Comprueba tus conocimientos de la leccion 3
      </ion-card-content>
    </ion-card>
</div>
</ion-content>

