
<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar-global">
    <ion-buttons slot="start" routerLink="/auth">
      <!-- <ion-icon class="custom-icon-global" slot="icon-only" name="arrow-back-circle-outline"></ion-icon> -->
      <ion-icon class="custom-icon-global" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
     <ion-title class="ion-text-center custom-title-global" >EasySign</ion-title> 
  </ion-toolbar>
</ion-header>


<ion-content> 
  <div class="d-flex-center">
    <form [formGroup]="form" (ngSubmit)="submit()" class="auth-form" (keypress.enter)="submit()">

      <img src="assets/img/logo.PNG" alt="EasySign Logo" class="logo" />
      
      <h1 class="custom-title">Recuperar contraseña</h1>

      <p class="ion-text-center"> Ingresa tu correo electrónico para enviarte un email de recuperación</p>
      
      
      <app-login-input
      autocomplete="email"
      type="email"
      label="Correo electrónico"
      icon="mail-outline"
      [control]="form.controls.email"
      ></app-login-input>

      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <div *ngIf="form.controls.email.errors?.['required']"> El correo es requerido </div>
        <div *ngIf="form.controls.email.errors?.['email']"> Ingrese un correo valido </div>

      </div>


      <ion-button class="submit" type="submit" class="custom-title-global" color="primary" expand="block" mode="ios" fill="solid" [disabled]="form.invalid">
        Recuperar
      </ion-button>

      
    </form>
  </div>
</ion-content>