<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar-global">
    <ion-buttons slot="start" routerLink="/lesson">
      <ion-icon class="custom-icon-global" slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-buttons> 
    <ion-title class="ion-text-center custom-title-global">Leccion 4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p class="texto-leccion">Lección sobre los números básicos</p>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">lesson4</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
 