/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";


//Color del fondo del header
.new-background-color{
    --background: #112242;
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-input {
    --border-color: #e0e0e0;
    --border-radius: 15px;
    --border-style: solid;
    --border-width: 1px;
    margin: 20px 0;

    ion-label {
        position: relative;
        bottom: 2px;
    }

    .eye-icon {
        position: relative;
        top: 13px;
    }
}

.validators {
    color: var(--ion-color-danger);
    font-size: 13px;
    text-align: center;
}

.auth-form {
    width: 100%;
    text-align: center;
    padding: 20px;
}

.product-item {
    --padding-top: 20px;

    ion-avatar {
        width: 70px;
        height: 80px;
        --border-radius: 15px;
    }

    .name {
        font-weight: 600;
        padding-bottom: 5px;
    }

    .data {
        font-size: 13px;

        strong {
            font-weight: 500;
        }
    }

    .option-btn {
        font-size: 27px;
    }

    ion-chip {
        font-size: 14px;
        border-radius: 10px;
        margin-left: 0;
    }
}

// safe padding for ios
.safe-p-bottom{
    padding-bottom: constant(safe-area-inset-bottom); // for ios 13+
    padding-bottom: env(safe-area-inset-bottom); // for previous ios versions
}

@media (min-width: 769px) {
    .auth-form {
        width: 500px;
    }

    .add-update-modal {
        --height: 680px;
    }
}
  .custom-toolbar-global {
    --background: #007bff; /* Azul específico */
  } 
  
.custom-title-global {
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
  }
  .custom-icon-global {
    color: #ffffff; /* Cambia a tu color preferido, aquí es naranja */
    font-size: 35px; /* Puedes ajustar el tamaño del ícono si lo deseas */
  }
  .custom-title {
    font-weight: bold; /* Negrita */
    text-align: center; /* Centrado */
    color: #007bff; /* Letras azules */
    font-size: 24px; /* Tamaño de letra ajustable */
    font-family: 'Arial', sans-serif; /* Cambia la fuente si lo deseas */
    margin-top: 5px; /* Reduce el margen superior */
  }
/* titulos sobre la lecciones */
  .texto-leccion {
    font-family: "Times New Roman", Times, serif; /* Estilo de fuente */
    font-size: 18px; /* Tamaño de la fuente */
    text-align: center; /* Centrar el texto */
    margin-top: 20px; /* Ajusta la separación superior */
  }
  
  