<ion-content class="ion-padding home-content">
  
  <div class="welcome-container">
    <img src="assets/img/logo.PNG" alt="EasySign Logo" class="logo" />

    <h1>Bienvenido a EasySign</h1>

    <p> 
      Aprende lenguaje de señas de manera fácil y divertida con lecciones
      interactivas, imagenes y videos cortos. ¡Comienza a comunicarte hoy!
    </p>
    <ion-button expand="block" class="custom-button stilos" routerLink="/comunidad" fill="solid">
      <ion-icon slot="start" name="people-outline"></ion-icon>
      Comunidad
    </ion-button> 
  </div>

  <div class="features-container">
    <ion-card>
      <ion-card-header  routerLink="/lesson">
        <ion-card-title >Explora las lecciones</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Aprende desde lo básico hasta lo avanzado, paso a paso.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header routerLink="/lesson3">
        <ion-card-title>Aprendizaje interactivo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Disfruta de videos cortos y prácticos ejercicios para reforzar tus conocimientos.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<!-- <ion-content class="ion-padding home-content">
  <div class="welcome-container">
    <img src="assets/img/logo11.png" alt="EasySign Logo" class="logo" />

    <h1>Bienvenido a EasySign</h1>

    <p>
      Aprende lenguaje de señas de manera fácil y divertida con lecciones
      interactivas, imagenes y videos cortos. ¡Comienza a comunicarte hoy!
    </p>
    <ion-button expand="block" class="custom-button stilos" routerLink="/comunidad" fill="solid">
      <ion-icon slot="start" name="people-outline"></ion-icon>
      Comunidad
    </ion-button>
    <ion-button expand="block" class="custom-button stilos" routerLink="/lesson1" fill="solid">
      <ion-icon slot="start" name="play-outline"></ion-icon>
      Comenzar Lección 1
    </ion-button>
    <ion-button expand="block" class="custom-button stilos" routerLink="/lesson2" fill="solid">
      <ion-icon slot="start" name="book-outline"></ion-icon>
      Comenzar Lección 2
    </ion-button>
    <ion-button expand="block" class="custom-button stilos" routerLink="/lesson3" fill="solid">
      <ion-icon slot="start" name="film-outline"></ion-icon>
      Comenzar Lección 3
    </ion-button>
    <ion-button expand="block" class="custom-button stilos" routerLink="/lesson4" fill="solid">
      <ion-icon slot="start" name="videocam-outline"></ion-icon>
      Comenzar Lección 4
    </ion-button>
    <ion-button expand="block" class="custom-button stilos" routerLink="/lesson5" fill="solid">
      <ion-icon slot="start" name="create-outline"></ion-icon>
      Comenzar Lección 5
    </ion-button>
    <ion-button expand="block" class="custom-button stilos" routerLink="/lesson3" fill="solid">
      <ion-icon slot="start" name="timer-outline"></ion-icon>
      Comenzar Lección 6
    </ion-button>

  </div>

  <div class="features-container">
    <ion-card>
      <ion-card-header  routerLink="/lesson">
        <ion-card-title>Explora las lecciones</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Aprende desde lo básico hasta lo avanzado, paso a paso.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header routerLink="/lesson3">
        <ion-card-title>Aprendizaje interactivo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Disfruta de videos cortos y prácticos ejercicios para reforzar tus conocimientos.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer class="ion-no-border safe-p-bottom">
  <ion-toolbar auto-hide="false">
    <ion-title>
      <ion-item (click)="signOut()" lines="none">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        <ion-label>Cerrar Sesión</ion-label>
      </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-footer> -->

<!-- <ion-footer>
  <ion-toolbar>
    <ion-title>CFG 2024 - 2025</ion-title>
  </ion-toolbar>
</ion-footer> -->