

<ion-content class="ion-padding home-content">
  <div class="welcome-container">
    <img src="assets/img/logo11.png" alt="EasySign Logo" class="logo" />

    <h1>Bienvenido a EasySign</h1>

    <p>
      Aprende lenguaje de señas de manera fácil y divertida con lecciones
      interactivas, imagenes y videos cortos. ¡Comienza a comunicarte hoy!
    </p>
    <ion-button expand="block" color="primary" routerLink="/social" class="button-spacing">
      <ion-icon slot="start" name="people-outline"></ion-icon>
      Comunidad
    </ion-button>
    <ion-button expand="block" color="primary" routerLink="/lesson1">
      <ion-icon slot="start" name="play-outline"></ion-icon>
      Comenzar Lección 1 
    </ion-button>
    <ion-button expand="block" color="primary" routerLink="/lesson1">
      <ion-icon slot="start" name="play-outline"></ion-icon>
      Comenzar Lección 2 
    </ion-button>
  </div>

  <div class="features-container">
    <ion-card>
      <ion-card-header  routerLink="/lesson">
        <ion-card-title>Explora las lecciones</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Aprende desde lo básico hasta lo avanzado, paso a paso.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header routerLink="/lesson3">
        <ion-card-title>Aprendizaje interactivo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Disfruta de videos cortos y prácticos ejercicios para reforzar tus conocimientos.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
    <ion-title>CFG 2024 - 2025</ion-title>
  </ion-toolbar>
</ion-footer> -->