ion-content {
  margin-top: 200px;
}

.home-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  
    .welcome-container {
      padding: 20px;
  
      .logo {
        width: 170px;
        margin: 0 auto 20px;
      }
  
      h1 {
        font-size: 24px;
        font-weight: bold;
        color: #333;
      }
  
      p {
        font-size: 16px;
        color: #666;
        margin-bottom: 20px;
      }
  
      ion-button {
        font-size: 18px;
        font-weight: bold;
      }
    }
  
    .features-container {
      margin-top: 0px;
      width: 100%;
  
      ion-card {
        margin: 10px auto;
        width: 90%;
      }
  
      ion-card-title {
        font-size: 18px;
        font-weight: bold;
        color: #0056b3;
      }
  
      ion-card-content {
        font-size: 14px;
        color: #333;
      }
    }
  }
  
// estilo del menu

.custom-button {
  --background: var(--button-color, #4caf50); /* Verde por defecto */
  --background-hover: var(--button-hover-color, #45a049); /* Hover verde */
  --color: #ffffff; /* Texto blanco */
  --border-radius: 8px; /* Bordes redondeados */
  --transition: background-color 0.3s ease;
  margin: 12px 0; /* Espaciado entre los botones */
}

.custom-button:hover {
  --background: var(--button-hover-color);
}

/* Botones específicos */
.stilos {
  --button-color: #2643ff; /* Verde */
  --button-hover-color: #45a049;
}
  